.display-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2rem;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    box-shadow: 0 2px 10px var(--primary-color);

    transition: all 0.5s;
}

.display-button:hover {
    font-size: medium;
}

.display-button.close {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: transparent;
    margin-right: .5rem;
    font-weight: bold;

    transition: all 0.1s;
}

.display-button.close:hover {
    color: var(--error-color);
    font-size: medium;
}

.display-button.refresh {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: transparent;
    margin-right: .5rem;
    font-weight: bold;

    transition: all 0.1s;
}

.display-button.refresh:hover {
    font-size: medium;
}

.chat-bot {
    position: fixed;
    bottom: 15%;
    right: 0;
    width: 20rem;
    height: 30rem;
    background-color: var(--secondary-color);
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.hide {
    display: none;
}

.fade-out {
    animation: fadeOut ease 1.5s;
}

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

.fade-in {
    animation: fadeIn ease .5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.chat-bot .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 .5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 10px 10px 0 0;
    font-size: small;
}

.messages {
    overflow-y: auto;
    margin-bottom: 10px;
    height: 22.5rem;
    overflow-y: auto;
    background-color: var(--ternary-color);
    border-radius: 1rem 1rem 0 0;
    padding: 0rem;
    list-style: none;
}

.message {
    padding: .5rem;
    margin: 0.5rem;
    margin-bottom: 0.1rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.message.user {
    text-align: right;
    border-radius: 1rem 1rem 0 1rem;
}

.message.bot {
    text-align: left;
    border-radius: 1rem 1rem 1rem 0px;
}

.form-chat-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem;
    padding: 0 .5rem;
    background-color: var(--ternary-color);
    height: 2.5rem;
    border-radius: 0 0 1rem 1rem;
}

.form-chat-bot input {
    width: 80%;
    padding: .5rem;
    border: none;
    border-radius: 5rem;
    margin: 0 .5rem;
    background-color: var(--ternary-color);
}

.form-chat-bot input[type="submit"] {
    display: none;
}