
.board {
    position: fixed;
    top: 15%;
    left: 25%;
    width: auto;
    height: auto;
    max-height: 25rem;

    background-size: cover;

    resize: both;

    box-shadow: 0rem 0rem 2.5rem 0rem var(--primary-color);
}

.move {
    cursor: pointer;
    background-color: white;
    opacity: 0.5;
}
