
.board {
    width: 45rem;
    height: auto;
    max-height: 30rem;
    margin: auto;
    margin-left: 25%;

    background-size: cover;

    resize: both;

    box-shadow: 0rem 0rem 2.5rem 0rem var(--primary-color);
}
