.modal {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: rgba(var(--secondary-color), 0.9);
}

.modal-components-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    background-color: var(--primary-color);
    color: var(--secondary-color);

    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(var(--primary-color), 0.5);
    min-width: 30%;
    max-width: 75%;
    min-height: 30%;
    max-height: 75%;

    padding: 1rem;
    margin: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}