:root {
  --primary-color: yellow;
  --secondary-color: black;
  --ternary-color: #fff9da;
  --error-color: #a81e1e;
}

html {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

h1 {
  margin: auto;
  padding: auto;
}

h2 {
  margin: auto;
  padding: auto;
}