.winner {
    position: fixed;
    top: 15%;
    left: 0%;
    width: 20%;

    /* Put in two column */
    display: grid;
    grid-template-columns: 1fr;
}

.winner .player {
    margin: 1rem;
    color: var(--primary-color);
    font-size: 1rem;
}

.winner .player + .player {
    margin-top: 2rem;
}

.winner .player * {
    font-size: 1.3rem;
}
