aside {
    position: fixed;
    top: 10%;
    left: 0%;
    width: 20%;

    /* Put in two column */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

aside .player {
    display: flex;
    flex-direction: column;
    justify-content: column;
    margin: 1rem;
    color: var(--primary-color);
    font-size: 1rem;
}

aside .player * {
    font-size: .9rem;
}
