.hands {
    position: fixed;
    bottom: 0%;
    left: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 1vh;
}

.hands .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 2.5rem;

    transform: translate(0rem, 1rem);
}

.hands .player + .player {
    margin-left: 7.5rem;
}

.hands .player + .player .cards {
    margin: 0rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.hands ul.cards {
    display: flex   ;
    padding: 0;
    margin: 0;
    list-style: none;
    
    transform: translate(0rem, 1rem);
    scale: 1.5;
}

.hands .player .cards .card {
    cursor: pointer;
    margin: 0;
    padding: 0;

    width: 1.5rem;
    height: auto;
}

.hands .player .card .hovered {
    position: relative;
    scale: 1.2;
    opacity: 100%;
    z-index: 9999;
}

.hands .player .card .other-card-hovered {
    opacity: 0.5;
}

.hands .player .card .card-0 {
    transform: translate(1rem, 0rem) rotate(-60deg);
}

.hands .player .card .card-1 {
    transform: translate(.25rem, -0.5rem) rotate(-30deg);
}

.hands .player .card .card-2 {
    transform: translate(0rem, -0.75rem) rotate(0deg);
}

.hands .player .card .card-3 {
    transform: translate(-0.25rem, -0.5rem) rotate(30deg);
}

.hands .player .card .card-4 {
    transform: translate(-1rem, 0rem) rotate(60deg);
}

.hands .player .card.empty-card {
    opacity: 0;
}

.modal {
    margin-left: 47.5%;
    margin-bottom: 30%;
    /* margin-right: 33%; */

    * {
        margin: .5rem;
        padding: 0;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            background-color: var(--secondary-color);
            color: var(--primary-color);
            margin: 0.5rem;
            padding: 0.5rem;
            border-radius: 0.5rem;

            width: fit-content;
            cursor: pointer;
        }
    }

    button {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin: 0.5rem;
        cursor: pointer;
    }
}