.hands {
    position: fixed;
    bottom: 2%;
    left: 0;
    right: 20%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.hands .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    transform: translate(0rem, -1rem);
}

.hands .player.current {
    scale: 1.2;
}

.hands .player + .player .cards {
    margin: 0rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.hands ul.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    
    transform: translate(0rem, 1rem);
    scale: 2;
}

.hands .player .card {
    cursor: pointer;
    margin: 0;
    padding: 0;
    max-width: 3rem;
    transition: scale .2s;

}

.hands .player.current .card:hover {
    scale: 2;
}

.hands .player .card.card-0 {
    transform: translate(4.5rem, 0rem) rotate(-60deg);
}

.hands .player .card.card-1 {
    transform: translate(2rem, -0.5rem) rotate(-30deg);
}

.hands .player .card.card-2 {
    transform: translate(0rem, -0.75rem) rotate(0deg);
}

.hands .player .card.card-3 {
    transform: translate(-2rem, -0.5rem) rotate(30deg);
}

.hands .player .card.card-4 {
    transform: translate(-4.5rem, 0rem) rotate(60deg);
}

.hands .player .card.empty-card {
    opacity: 0;
}