
.hand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.hand + .hand {
    margin-left: 1rem;
}

.hand .player .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hand .player .cards .card {
    margin: .5rem 1rem;
}